<app-auth-card [title]="'Entrar'">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <app-input-group
      label="Usuário"
      id="username"
      type="text"
      [control]="loginForm.get('username')!"
      errorMessageRequired="Usuário é obrigatório."
    ></app-input-group>

    <app-input-group
      label="Senha"
      id="password"
      type="password"
      [control]="loginForm.get('password')!"
      errorMessageRequired="Senha é obrigatória."
      errorMessageMinLength="A senha deve ter no mínimo 6 caracteres."
    ></app-input-group>

    <app-button type="submit" text="Confirmar" [disabled]="loginForm.invalid"></app-button>
    <app-links
      [links]="[
        { text: 'Esqueci a senha', route: '/sendEmail' },
        { text: 'Criar conta', route: '/register' },
      ]"
    ></app-links>
  </form>
</app-auth-card>
