<div class="input-group">
  <label [for]="id">{{ label }}:</label>
  <input [type]="type" [id]="id" [formControl]="formControl()" />

  @if (control.invalid && control.touched) {
    <div class="error-message">
      @if (control.errors?.['required']) {
        <div>{{ errorMessageRequired }}</div>
      }
      @if (control.errors?.['minlength']) {
        <div>{{ errorMessageMinLength }}</div>
      }
      @if (control.errors?.['email']) {
        <div>{{ errorMessageEmail }}</div>
      }
    </div>
  }
</div>
